.dropdown-menu {
  background: #AB987a;
  width: 150px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  padding: 5px;
  border-left: #b3a186 solid 5px;
  border-right: #b3a186 solid 5px;
  border-bottom: #b3a186 solid 5px;
}
.dropdown-menu li {
  background: #AB987a;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #FF533d;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 50%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}