.changepasspin{
  background: linear-gradient( #0f1626,  #262d3b);
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: #f5f5f5;
    padding-top: 80px;
  }

  .changepasspin-flexbox-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .changepasspinflexbox-item{
    min-height: 2vh;
  }

  .changepasspin-inputs{
    font-weight: bold;
    font-size: large;
    color:#0f1626;
    background: #f5f5f5;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    width: 91%;
    text-align: center;
    min-height: 2vh;
    padding: 14px;
    margin-top: 10px;  
  }
  .changepasspin-inputs:hover{
    color: black;
    box-shadow: 0 5px 15px #f5f5f5;
  }

  .changepasspin-checkbox{
    font-weight: bold;
    font-size: large;
    color:#0f1626;
    background: #f5f5f5;
    width: 10%;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    text-align: center;
    min-height: 2.5vh;
    margin-top: 10px;
}

  .changepasspin-add-input{
    font-weight: bold;
    font-size: large;
    color:black;
    background: whitesmoke;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    width: 92%;
    text-align: center;
    min-height: 2vh;
    padding: 14px;
    margin-top: 10px;
  }

  .changepasspin-search{
    font-weight: bold;
    font-size: large;
    color:black;
    background: whitesmoke;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    width: 99.5%;
    text-align: center;
    min-height: 2vh;
    margin-top: 10px;
    font-size: 28px;
    align-self: center;
  }

  .changepasspintable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.changepasspinbutton {
  font-size: large;
  color: #0f1626;
  background: #FF533d;
  padding: 15px;
  border-radius: 50%;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.changepasspinbutton:hover{
  color: #0f1626;
  box-shadow: 0 5px 15px #f5f5f5;
}

.changepasspinbuttonicon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.changepasspinbuttonicon {
  color: #f5f5f5;
  height: 50px;
  width: 50px;
}

.changepasspinbuttontext {
  font-weight: bold;
  font-size: medium;
  color: #f5f5f5;
}

.changepopup-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Adjust as needed */
}

.changepopup-form-content {
  position: relative;
  color:white;
  font-size: 84px;
}

.changepopup-close2 {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 84px;
  margin-bottom: 10px;
  background-color: #212a35;
  color: white;
  border: none;
  z-index: 999
}

.changepopup-close2:hover{
  color: #FF533d;
}

@media (max-width: 767px) {
  .changepasspinflexbox-item{
    min-height: 2vh;
  }

  .changepopup-close2 {
    position: absolute;
    top: 106px;
    right: 70px;
    cursor: pointer;
    font-weight: bold;
    font-size: 84px;
    margin-bottom: 10px;
    background-color: #212a35;
    color: white;
    border: none;
    z-index: 999
  }

  .changepasspin-inputs{
    font-weight: bold;
    font-size: large;
    color:#0f1626;
    background: #f5f5f5;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    width: 91%;
    text-align: center;
    min-height: 2vh;
    padding: 14px;
    margin-top: 10px;  
  }

  .changepasspinbutton {
    font-size: large;
    color: #0f1626;
    background: #FF533d;
    padding: 15px;
    border-radius: 50%;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
  }
  .changepasspinbutton:hover{
    color: #0f1626;
    box-shadow: 0 5px 15px #f5f5f5;
  }
  
}