.pdf-container{
    display: flex;
    flex-direction: column;
    background: linear-gradient(#0f1626, #262d3b);
    flex-wrap: wrap;
    min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.buttonlayout{
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pdfbuttons {
  font-size: large;
  color: black;
  background: #FF533d;
  padding: 30px;
  border-radius: 50%;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.pdfbuttons:hover {
  color: black;
  box-shadow: 0 5px 15px white;
}

.pdficon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.pdficon {
  color: #f5f5f5;
  height: 50px;
  width: 50px;
}

.pdftext {
  font-weight: bold;
  font-size: medium;
  color: #f5f5f5;
}

.pdf2buttons {
  font-size: large;
  color: black;
  background: #FF533d;
  padding: 30px;
  border-radius: 8px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 100px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
}

.pdf2buttons:hover {
  color: black;
  box-shadow: 0 5px 15px white;
}

.pdf2icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.pdf2icon {
  color: #f5f5f5;
  height: 30px;
  width: 30px;
}

.pdf2text {
  font-weight: bold;
  font-size: medium;
  color: #f5f5f5;
}

@media print {
  /* Your print-specific styles here */
  body {
    font-size: 12pt;
  }

  .print-only {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* Hide elements not meant for printing */
  .no-print {
    display: none;
  }
}

.pdfbuttonsstartprod{
  font-size: large;
  color: black;
  background: green;
  padding: 30px;
  border-radius: 50%;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

  .pdfbuttonsstartprod:hover{
    color: black;
    box-shadow: 0 5px 15px white;
  }
  .pdfbuttonsnoorders{
    font-size: large;
    color: black;
    background: blue;
    padding: 30px;
    border-radius: 50%;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pdfbuttonsnoorders:hover{
    color: black;
    box-shadow: 0 5px 15px white;
  }

  .pdfbuttonsnooperators{
    font-size: large;
    color: black;
    background: orange;
    padding: 30px;
    border-radius: 50%;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pdfbuttonsnooperators:hover{
    color: black;
    box-shadow: 0 5px 15px white;
  }

  .pdfbuttonsbreak{
    font-size: large;
    color: black;
    background: rgb(70, 174, 206);
    padding: 30px;
    border-radius: 50%;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pdfbuttonsbreak:hover{
    color: black;
    box-shadow: 0 5px 15px white;
  }
  .pdfbuttonsdown{
    font-size: large;
    color: black;
    background: #FF533d;
    padding: 30px;
    border-radius: 50%;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pdfbuttonsdown:hover{
    color: black;
    box-shadow: 0 5px 15px white;
  }

  .pdfpopuptext{
    display: flex;
    color: #0f1626;
    justify-content: center;
  }

  .pdftextnotif{
    font-size: 2.5rem; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .pdfbuttonsetup{
    font-weight: bold;
    font-size: large;
    color:black;
    background: whitesmoke;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 20%;
    text-align: center;
  }
  .pdfbuttonsetup:hover{
    color: black;
    box-shadow: 0 5px 15px white;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 999; /* Adjust as needed */
  }
  
  .popup-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20vh;
  }
  
  .popup-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 84px;
    margin-bottom: 10px;
    background-color: red;
  }

  .popup-button{
    font-size: large;
    color: black;
    background: #FF533d;
    padding: 30px;
    border-radius: 50%;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .popup-button:hover{
    color: black;
    box-shadow: 0 5px 15px white;
  }

  .popup-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Adjust as needed */
  }

  .popup-form-content {
    position: relative;
    color:white;
    font-size: 84px;
  }

  .popup-close2 {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 84px;
    margin-bottom: 10px;
    background-color: #212a35;
    color: white;
    border: none;
  }
  .popup-close2:hover{
    color: #FF533d;
  }

  @media (max-width: 590px) {
    .pdf-container{
      display: flex;
      flex-direction: column;
      background-color: #282c34;
      flex-wrap: wrap;
      width: 150vh;
      min-height: 300vh;
  }
  
  .page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
  }

  .popup-close2 {
    position: absolute;
    top: 110px;
    right: 80px;
    cursor: pointer;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 10px;
    background-color: #212a35;
    color: white;
    border: none;
    z-index: 999;
  }

  .popup-close2:hover{
    color: #FF533d;
  }
    /* Additional styles for other elements if needed */
  }

  /* Styles for medium-sized screens (e.g., tablets) */
@media (min-width: 600px) and (max-width: 1023px) {
    .pdf-container{
      display: flex;
      flex-direction: column;
      background-color: #282c34;
      flex-wrap: wrap;
      max-height: 170vh;
      width: 100vh;
      min-height: 160vh;
  }
  .page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .popup-close2 {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 68px;
    margin-bottom: 10px;
    background-color: #212a35;
    color: white;
    border: none;
    z-index: 999;
  }

  .popup-close2:hover{
    color: #FF533d;
  }

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

  /* Additional styles for other elements if needed */
}