.aepartnumberpage{
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .aepartnumbers-flexbox-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .aeflexbox-item{
    width: 100%;
    min-height: 2vh;
  }

  .aepartnumbers-inputs{
    font-weight: bold;
    font-size: large;
    color:black;
    background: whitesmoke;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    width: 50%;
    text-align: center;
    min-height: 2vh;
    padding: 14px;
    margin-top: 10px;
  }

  .aepartnumbers-add-input{
    font-weight: bold;
    font-size: large;
    color:black;
    background: whitesmoke;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    width: 92%;
    text-align: center;
    min-height: 2vh;
    padding: 14px;
    margin-top: 10px;
  }

  .aepartnumbers-search{
    font-weight: bold;
    font-size: large;
    color:black;
    background: whitesmoke;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    width: 100%;
    text-align: center;
    min-height: 2vh;
    padding: 14px;
    margin-top: 10px;
    font-size: 16px;
  }

  .aepartnumberstable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aepartnumberstable-container table {
    width: 90%; /* Adjust the table width as needed */
    border-collapse: collapse; /* Collapse borders for a cleaner look */
    font-size: 12px; /* Set the font size to make text smaller */
}

.aepartnumberstable-container th,
.aepartnumberstable-container td {
    border: 1px solid #dee2e6;
    padding: 3px; /* Adjust padding as needed */
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 0 1px #dee2e6;
}

.aepartnumberbutton {
    font-weight: bold;
    font-size: large;
    color: black;
    background: whitesmoke;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 50%;
    text-align: center;
}

.aepartnumberbutton:hover {
  color: black;
  box-shadow: 0 5px 15px white;
}
