.linepage{
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .lineflexbox-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .lineflexbox-item{
    width: 55vh;
    text-align: center;
    min-height: 30vh;
  }

  .linetextinboxes{
    border: 5px solid white;
  }

  .linepagebutton{
    font-weight: bold;
    font-size: large;
    color:black;
    background: whitesmoke;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 100%;
    text-align: center;
  }
  .linepagebutton:hover{
    color: black;
    box-shadow: 0 5px 15px white;
  }

  .linepagebutton2{
    font-weight: bold;
    font-size: large;
    color:black;
    background: whitesmoke;
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    text-align: center;
    width: 40%;
  }
  .linepagebutton2:hover{
    color: black;
    box-shadow: 0 5px 15px white;
  }

  .linetable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.linetable-container table {
  width: 90%; /* Adjust the table width as needed */
  border-collapse: collapse; /* Collapse borders for a cleaner look */
  font-size: 16px; /* Set the font size to make text smaller */
}

.linetable-container th,
.linetable-container td {
    border: 1px solid #dee2e6;
    /* Border color for cells */
    padding: 5px;
    /* Adjust padding as needed */
    text-align: center;
    /* Center-align content */
    vertical-align: middle;
    /* Vertically center content */
    box-shadow: 0 0 0 1px #dee2e6;
}
