.toolbar {
    background-color: #AB987a;
    color: #0f1626;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    font-weight: 600;
  }

/* Styling for the left side of the toolbar */
.toolbar-left {
    display: flex;
    align-items: center;
  }

  /* Styling for the logo image */
  .logo {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px;
  }
  
  /* Styling for the title text */
  .toolbar p {
    margin: 0;
    font-size: 2.5rem;
  }

  .icon-cell-line {
    width: 40px; /* Adjust the width for the icon column */
    padding-left: 10px;
    padding-right: 5px;
  }

  .dropdown-container {
    position: relative;
  }

  .dropdown {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.5rem; /* Adjust the font size as needed */
    transition: all 0.2s ease-in-out;
    margin-left: auto;
    color: #0f1626;
  }
  .dropdown:hover{
    color: #f5f5f5;
  }
  
  /* Styling for the active state of the dropdown button */
  .dropdown.active {
    color: #f5f5f5;
  }
  .dropdown.active:hover{
    color: #0f1626;
  }
/* Styling for the dropdown menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  margin-top: 21px;
  right: -10px;
  background-color: #AB987a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-height: 100%; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 220px; /* Adjust the width as needed */
  border: none !important;
}
  
  /* Styling for dropdown menu items */
  .dropdown-menu p {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .dropdown-menu p:hover {
    color: #f5f5f5;
  }

/* Media queries for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .toolbar {
      background-color: #AB987a;
      color: #0f1626;
      display: flex;
      align-items: center;
      padding: 10px;
      justify-content: space-between;
      font-weight: 400;
    }
  }

  /* Media queries for mobile phones */
@media (max-width: 767px) {
  .toolbar {
    font-size: 1.5rem; /* Adjust the font size for mobile devices */
    font-weight: 500;
  }
  .toolbar p {
    margin: 0;
    font-size: 1.5rem;
  }
  .logo {
    width: 80px; /* Adjust the width for mobile devices */
  }

  .dropdown {
    font-size: 1.5rem; /* Adjust the font size for mobile devices */
  }

  .dropdown-menu {
    width: 135px; /* Adjust the width for mobile devices */
    border: none;
    margin-top: 21px;
  }
}