/*.toolbar {
    background-color: #AB987a;
    color: #0f1626;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    font-weight: 600;
  }

.toolbar-left {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 100px; 
    height: auto;
    margin-right: 10px;
  }

  .toolbar p {
    margin: 0;
    font-size: 2.5rem;
  }

  .icon-cell-line {
    width: 40px;
    padding-left: 10px;
    padding-right: 5px;
  }

  .dropdown-container {
    position: relative;
  }

  .dropdown {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    transition: all 0.2s ease-in-out;
    margin-left: auto;
    color: #0f1626;
  }
  .dropdown:hover{
    color: #f5f5f5;
  }
  
  .dropdown.active {
    color: #f5f5f5;
  }
  .dropdown.active:hover{
    color: #0f1626;
  }

.dropdown-menu {
  position: absolute;
  top: 100%;
  margin-top: 6%;
  right: -10px;
  background-color: #AB987a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-height: 100%; 
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 220px; 
  border: none !important;
}
  
  .dropdown-menu p {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .dropdown-menu p:hover {
    color: #f5f5f5;
  }
  .errordropdown-menu {
    position: absolute;
    top: 100%;
    margin-top: 6%;
    right: 240px;
    background-color: #AB987a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-height: 100%; 
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 500px; 
    border: none !important;
  }

  
  .dropdown-error {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 200px;
    font-size: 2.5rem; 
    transition: all 0.2s ease-in-out;
    margin-left: auto;
    color: red;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
    border-radius:50%;
  }

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
  }

@media (min-width: 768px) and (max-width: 1024px) {
    .toolbar {
      background-color: #AB987a;
      color: #0f1626;
      display: flex;
      align-items: center;
      padding: 10px;
      justify-content: space-between;
      font-weight: 400;
    }
  }

@media (max-width: 767px) {
  .toolbar {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .toolbar p {
    margin: 0;
    font-size: 1.3rem;
  }
  .logo {
    width: 80px;
  }

  .dropdown {
    font-size: 1.5rem;
  }

  .dropdown-menu {
    width: 135px; 
    border: none;
    margin-top: 21px;
  }
}*/