.updaterpage {
  background: linear-gradient(#0f1626, #262d3b);
  min-height: 100vh;
  font-size: calc(10px + 1vmin);
  color: white;
}

.updater-flexbox-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  justify-items: center;
  grid-auto-flow: row;
}

.updaterflexbox-item {
  width: 100%;
  min-height: 2vh;
  align-items: center;
}

@media (max-width: 767px) {
  .updater-flexbox-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}